@model IgorForum.Models.Post.NewPostModel

<h1>Новая запись | @Model.ForumName</h1>

<form asp-action="AddPost" method="post" id="addPostForm">
    <div class="form-group">
        <label asp-for="Title">Название</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content">Текст</label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    <button type="submit" id="submitPostBtn" class="btn btn-submitPost">
    Опубликовать
    </button>
    <input asp-for="ForumId" type="hidden" />
</form>