@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="container body-content" style="text-align: center">
        <h1 class="text-danger">Доступ запрещен</h1>
        <p class="text-danger">Вы не можете просматривать это.</p>
        <img src="~/images/theme/access.jpg" alt="Alternate Text" />
    </div>
</header>
